[submodule "blog"]
	path = blog
	url = https://github.com/ibrahimtrg18/microservices-with-node-and-react-blog.git
[submodule "ticketing"]
	path = ticketing
	url = https://github.com/ibrahimtrg18/microservices-with-node-and-react-ticketing.git
